<form method="POST" action="/landmarks/<%=@landmark.id%>">
	<p>Name: <input type="text" id="name" name="landmark[name]" value="<%=@landmark.name%>"></p>
	<p>Year completed: <input type="text" id="year_completed" name="landmark[year_completed]"  value="<%=@landmark.year_completed%>"></p>
	<input type="submit" value="Edit Landmark">
</form>