<form method="POST" action="/landmarks">
	<p>Name: <input type="text" id="landmark_name" name="landmark[name]"></p>
	<p>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
	<input type="submit" value="Create New Landmark">
</form>